footer {
   text-align: center;
   padding: 20px 0;
}

.signature p{
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   margin-bottom: 3px;
}

.signature a {
   font-family: 'Grand Hotel', sans-serif;
   font-size: 27px;
   text-transform: capitalize;
   color: #1457A6;
   text-decoration: none;
}
