.list {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;

   &__item {
      flex: 1 100%;
      margin-bottom: 1rem;
      padding: .8rem 1rem;
      border-radius: 2px;
      box-shadow: $box-shadow--material;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      background: #fff;
      cursor: pointer;

      @include mq(tablet) {
         flex: 0 calc(50% - 1rem);
         margin: .5rem;
      }

      @include mq(desktop) {
         flex: 0 calc(32.3333% - 1rem);
         max-width: calc(32.3333% - 1rem);
         margin: .5rem;
      }
   }
}
